<div class="body">
	<h1>El Bingo :D</h1>
	<div class="bingo">
		<ng-container *ngFor="let row of bingo">
			<div class="row">
				<ng-container *ngFor="let col of row">
					<span
						[ngClass]="{
							box: true,
							vacio: col == 0 ? true : false
						}"
						>{{ col == 0 ? " " : col }}</span
					>
				</ng-container>
			</div>
		</ng-container>

		<hr />
		<div>
			<span>Delay: {{ delayms }}</span>
			<button
				class="button"
				(click)="increaseDelay()"
				[disabled]="delayms == 10000"
			>
				+
			</button>
			<button
				class="button"
				(click)="decreaseDelay()"
				[disabled]="delayms == 100"
			>
				-
			</button>
			<button class="button" (click)="fillBingo(true)">Bingo!</button>
			<button class="button" (click)="fillBingo(false)">
				Bingo! rapido
			</button>
			<button (click)="generateBingoEmpty()">Limpiar</button>
		</div>
	</div>
</div>
